<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1,0">
    <title>Calculadora</title>
</head>
<body>
    <input type="text" disabled value="{{result}}">
    <form action="/calcular" method="post">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <select name="op">
            <option value="+">SUMAR</option>
            <option value="-">RESTAR</option>
            <option value="*">MULTIPLICAR</option>
            <option value="/">DIVIDIR</option>
        </select>
        <button type="submit">Calcular</button>
    </form>
</body>
</html>