{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>
    </head>
    <body>
        <dri class="container">
            <div class="row">
                <driv class="col-auto">
                    <img src="{% static 'imagenes/cart.png'%}" class="logo"/>
                </driv>
                <div class="col-auto">
                    <h1 class="text-center">BaratOnline: tu tienda virtual preferida</h1>
                </div>
            </div>

        </dri>
    </body>
</html>
